
/* MIS VARIABLES */

:root {
    --brandColor: #8921ff;
    --brandSecondaryColor: #b26eff;
    --brandComplementaryColor: #BBFF6E;
    --darkBg: #212121;
    --lightBg: #383838;
}

/* GENERICO */

@font-face
{
    font-family: 'Tahoma';
    src: url('fonts/tahoma.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: 'ArchivoBlack';
    src: url('fonts/ArchivoBlack.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: 'Rubik';
    src: url('fonts/RubikMonoOne.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Tahoma', sans-serif;
    margin: 0;
    background-color: black;
    background-image: url('images/backgrounds/purple_degree.png');
    background-size: cover;
    background-repeat: no-repeat;
}

h1{
    font-size: 3vh;
}

h2{
    font-size: 2.5vh;
}

h3{
    font-size: 2vh;
}

h4 {
    font-size: 2vh;
}

h5 {
    font-size: 1.8vh;
}

p {
    font-size: 1.7vh;
}

a{
    font-size: 1.7vh;
    text-decoration: none;
}

li {
    font-size: 1.7vh;
}

ul li {
    list-style-type: none;
    position: relative;
}

    ul li::before {
        content: '•';
        color: var(--brandSecondaryColor);
        font-size: 1.7vh;
        position: absolute;
        left: -2vh;
    }

/* TEXTO */

.sectionHeader {
    font-family: 'Tahoma', sans-serif;
    text-align: center;
}

.brandText {
    color: var(--brandColor);
    font-weight: bold;
}

.secondaryBrandText {
    color: var(--brandSecondaryColor);
    font-weight: bold;
}

.complementaryBrandText {
    color: var(--brandComplementaryColor);
    font-weight: bold;
}

.boldText {
    font-weight: bold;
}

.italicText{
    font-style: italic;
}

.falseH1{
    font-size: 3vh;
}

.falseH2{
    font-size: 2.5vh;
}

/* CAJAS PRINCIPALES */

.titleBox {
    height: 10vh;
    width: 100vw;
    background-image: url('images/banners/Patron.jpg');
    background-size: cover;
    font-family: 'Rubik', sans-serif;
    font-size: 3vh;
    color: white;
    position: fixed;
    align-content: center;
    align-items: center;
    text-align: center;
    padding-left:15vw;
    padding-right:15vw;
    display: flex;
    flex-wrap: wrap;
    gap: 1vw;
    z-index: 1000;
}

.centerBox {
    width: 70vw;
    background-color: var(--darkBg);
    margin: auto;
    padding: 1vh;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 1vw;
    color: var(--brandSecondaryColor);
}

.flexBox {
    margin: auto;
    padding: 1vh;
    display: flex;
    flex-wrap: wrap;
    gap: 1vw;
}

iframe {
    width: 100%;
    height: 100%;
    border: none;
}

.center{
    align-content: center;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.blockBox{
    display: inline-block;
}

/* CAJAS DIV FLEX */

.box20 {
    flex: 1 1 10%;
    min-width: 20%;
    max-width: 20%;
    padding: 1vh;
    margin: auto;
}

.box25 {
    flex: 1 1 21%;
    min-width: 25%;
    max-width: 25%;
    padding: 1vh;
    margin: auto;
}

.box30 {
    flex: 1 1 28%;
    min-width: 30%;
    max-width: 30%;
    padding: 1vh;
    margin: auto;
}

.box50 {
    flex: 1 1 44%;
    min-width: 20%;
    max-width: 50%;
    padding: 1vh;
    margin: auto;
}

.box75 {
    flex: 1 1 70%;
    min-width: 20%;
    max-width: 75%;
    padding: 1vh;
    margin: auto;
}

.box100 {
    flex: 1 1 100%;
    min-width: 20%;
    max-width: 100%;
    padding: 1vh;
    margin: auto;
}

/* ESTILOS DE CAJA */

.fullBox {
    height: 100vh;
    width: 100vw;
    margin: 0;
}

.stylizedBox {
    background-color: var(--lightBg);
    border-radius: 10px;
    color: white;
    padding: 1vh;
}

.stylizedBox2 {
    background-color: var(--darkBg);
    border-radius: 10px;
    color: white;
    padding: 1vh;
}

.fullHeightBox{
    height: 100%;
}

.centerTextBox{
    align-content: center;
    align-items: center;
    text-align: center;
}

.titleHeader{
    background-color: var(--brandColor);
    align-items: center;
    align-content: center;
    color: white;
    height: 10vh;
    border-radius: 1vh;
    margin-top: 10vh;
}

.buttonLargue{
    background-color: var(--brandSecondaryColor);
    border-radius: 10vh;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    transition: background 0.3s ease, color 0.3s ease;
    color: black;
    min-height: 2vh;
    padding: 0.75vh;
}

.buttonLargue:hover{
    background-color: var(--brandColor);
    color: white;
}

.spacerBox{
    height: 10vh;
}

/* IMAGENES */

.fullImg {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    margin: auto;
}

.roundedBorder {
    border-radius: 1vw;
}

.circleImg{
    border-radius: 50%;
}

.icon {
    height: 5vh;
    cursor: auto;
    transition: transform 0.3s ease;
}

    .icon:hover {
        transform: scale(1.5);
    }

.alreadyIcon {
    height: 5vh;
    cursor: auto;
    transition: transform 0.3s ease;
    filter: hue-rotate(180deg) saturate(2) brightness(1.1);
}

    .alreadyIcon:hover {
        transform: scale(1.2);
    }

.soonIcon {
    height: 5vh;
    cursor: auto;
    transition: transform 0.3s ease;
    filter: hue-rotate(150deg) saturate(2) brightness(1.5);
}

    .soonIcon:hover {
        transform: scale(1.2);
    }

.notAlreadyIcon {
    height: 5vh;
    cursor: auto;
    transition: transform 0.3s ease;
    filter: hue-rotate(90deg) saturate(2) brightness(1.1);
}

.alreadyBox {
    background-color: #11cf27;
    border-radius: 4vh;
    color: black;
    padding: 1vh;
    text-align: center;
    font-weight: bold;
}

.soonBox {
    background-color: #e3ce14;
    border-radius: 4vh;
    color: black;
    padding: 1vh;
    text-align: center;
    font-weight: bold;
}

.notAlreadyBox {
    background-color: #e33b3b;
    border-radius: 4vh;
    color: black;
    padding: 1vh;
    text-align: center;
    font-weight: bold;
}

/* EFECTOS */

.intro {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 9999;
    opacity: 1;
    transition: opacity 2s ease; /* Asegúrate de que esté aquí */
    background-image: url('images/backgrounds/purple_degree.png');
    background-size: cover;
    display: flex;
    color: var(--brandSecondaryColor);
}

.introLogo{
    max-width: 25vw;
    width: auto;
}

.content {
    opacity: 0;
    transition: opacity 1.5s ease;
}

.hover {
    cursor: pointer;
    transition: transform 0.3s ease;
}

.hover:hover {
    transform: scale(1.02);
}

.animatedScroll {
    opacity: 0;
    transform: scale(0.8);
    transition: opacity 1s ease, transform 1s ease;
}

.animatedScroll.visible {
    opacity: 1;
    transform: scale(1);
}

/* BARRAS */

.barContainer {
    height: 2vh;
    width: 99%;
    background-color: var(--darkBg);
    border-radius: 1vh;
    align-content: center;
    padding-left: 0.5vh;
    padding-right: 0.5vh;
}

.bar10{
    height: 1vh;
    width: 10%;
    background-color: var(--brandSecondaryColor);
    border-radius: 0.5vh;
}

.bar20{
    height: 1vh;
    width: 20%;
    background-color: var(--brandSecondaryColor);
    border-radius: 0.5vh;
}

.bar30{
    height: 1vh;
    width: 30%;
    background-color: var(--brandSecondaryColor);
    border-radius: 0.5vh;
}

.bar40{
    height: 1vh;
    width: 40%;
    background-color: var(--brandSecondaryColor);
    border-radius: 0.5vh;
}

.bar50{
    height: 1vh;
    width: 50%;
    background-color: var(--brandSecondaryColor);
    border-radius: 0.5vh;
}

.bar60{
    height: 1vh;
    width: 60%;
    background-color: var(--brandSecondaryColor);
    border-radius: 0.5vh;
}

.bar70{
    height: 1vh;
    width: 70%;
    background-color: var(--brandSecondaryColor);
    border-radius: 0.5vh;
}

.bar80{
    height: 1vh;
    width: 80%;
    background-color: var(--brandSecondaryColor);
    border-radius: 0.5vh;
}

.bar90{
    height: 1vh;
    width: 90%;
    background-color: var(--brandSecondaryColor);
    border-radius: 0.5vh;
}

.bar100{
    height: 1vh;
    width: 100%;
    background-color: var(--brandSecondaryColor);
    border-radius: 0.5vh;
}

/* MEDIA QUERY */

@media (max-width: 1200px)
{
    .titleBox
    {
        justify-content: center;
        padding: 0;
    }

    .centerBox {
        width: 90vw;
    }

    .box20,
    .box25,
    .box30,
    .box50,
    .box75,
    .box100 {
        flex: 1 1 100%;
        min-width: 90%;
        max-width: 100%;
        padding: 1vh;
        margin: auto;
    }

    introLogo{
        max-width: 75vw;
    }

    iframe{
        height: 20vh;
    }

    .fullImg{
        height: 20vh;
    }
}