@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fade-in {
    animation: fade-in 0.5s ease-in-out forwards;
}

@keyframes translate-in {
    from {
        transform: translateY(100%);
    }

    to {
        transform: translateY(0);
    }
}

.translate-in {
    animation: translate-in 0.5s ease-in-out forwards;
}

@keyframes fade-in-delayed {
    0% {
        opacity: 0;
    }

    50% {
    }

    100% {
        opacity: 1;
    }
}

.fade-in-delayed {
    animation: fade-in-delayed 1s ease-in-out forwards;
}