.bg1 {
    background-size: cover;
    background-repeat: repeat;
    background-attachment: fixed;
    background-image: radial-gradient(ellipse at top, rgba(137, 33, 255, 0.75), transparent);
    background-size: 300% 300%;
    background-blend-mode: multiply;
    text-shadow: 3px 3px 2px black;
    animation: animatedBG 3s ease-in-out infinite alternate;
}

@keyframes animatedBG {
    0% {
        background-size: 300%;
        background-position: 0% 0%;
    }

    100% {
        background-size: 100%;
        background-position: 100% 0%;
    }
}
