@import url('brand.css');

/*CAJAS PRINCIPALES*/
.fullBox {
    height: 100vh;
    overflow: hidden;
}

    .fullBox section,
    .fullBox article{
        height: 100%;
    }

.smallSectionBox {
    min-height: 10vh;
    overflow: hidden;
    padding-top: 5vh;
    padding-bottom: 10vh;
}

    .smallSectionBox section,
    .smallSectionBox article {
        height: 100%;
    }

.sectionBox {
    min-height: 30vh;
    overflow: hidden;
    padding-top: 5vh;
    padding-bottom: 10vh;
}

    .sectionBox section,
    .sectionBox article{
        height: 100%;
    }

.marginBox{
    margin-left: 20vw;
    margin-right: 20vw;
}

    .marginBox section,
    .marginBox article{
        height: 100%;
    }

.flexBox {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-self: center;
    justify-content: center;
}

.reverseFlexBox {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    align-self: center;
    justify-content: center;
}

.spacedFlexBox {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-self: center;
    justify-content: space-between;
}

.spacedCenteredFlexBox {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    align-self: center;
    justify-content: space-between;
}

.colFlexBox {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    align-self: center;
    justify-content: center;
}

/*DISPOSICION*/

.box {
    overflow: hidden;
}

.centerBox {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    align-self: center;
    justify-content: center;
}

/*COLORES*/
.whiteBox{
    background-color: white;
    color: black;
}

.blackBox{
    background-color: black;
    color: white;
}

.purpleBox {
    background-color: var(--brandColor);
    color: white;
}

.lightPurpleBox{
    background-color: var(--brandSecondaryColor);
    color: black;
}

/*TAMANIO ABSOLUTO*/
.box50h {
    height: 50vh !important;
}

.box30h {
    height: 30vh !important;
}

.boxMin2h {
    min-height: 2vh;
}

.boxMin5h{
    min-height: 5vh;
}

.boxMin50h {
    min-height: 50vh;
}

.boxMin60h {
    min-height: 60vh;
}

.boxMin2w {
    min-width: 2vh;
}

.boxMin5w {
    min-width: 5vh;
}

/*TAMANIO RELATIVO*/
.box100hP{
    height: 100%;
}

.aspect-16-9 {
    aspect-ratio: 16/9;
    width: 100%;
    height: auto;
}

/*CAJAS MAS DEFINIDAS*/
/*Proyectos*/
.cardBox {
    overflow: hidden;
    border: 2px solid white;
    position: relative;
    transition: 1s ease;
    background-color: black;
}

    .cardBox section {
        position: absolute;
        width: 100%;
        height: 100%;
    }

    .cardBox .hiddenSection {
        width: 100%;
        height: 0%;
        opacity: 0;
        z-index: 1;
        transition: 1s ease;
    }

    .cardBox:hover {
        border: 2px solid var(--brandColor);
        box-shadow: rgba(0,0,0,0.3) 0px 5px 5px;
    }

        .cardBox:hover .hiddenSection {
            width: 100%;
            height: 100%;
            opacity: 1;
        }

/*Productos*/
.cardBoxPurple {
    overflow: hidden;
    border: 2px solid var(--brandColor);
    position: relative;
    transition: 1s ease;
}

    .cardBoxPurple section {
        position: absolute;
        width: 100%;
        height: 100%;
    }

    .cardBoxPurple .hiddenSection {
        width: 100%;
        height: 0%;
        opacity: 0;
        z-index: 1;
        transition: 1s ease;
    }

    .cardBoxPurple:hover {
        border: 2px solid var(--brandColor);
        box-shadow: rgba(0,0,0,0.3) 0px 5px 5px;
    }

        .cardBoxPurple:hover .hiddenSection {
            width: 100%;
            height: 100%;
            opacity: 1;
        }

/*Servicios*/
.serviceBox {
    overflow: hidden;
    background-color: white;
    color: black;
    border: 2px solid white;
    height: 20vh !important;
    padding: 2vh;
    position: relative;
    transition: 0.5s ease;
}

.serviceBox:hover{
    color: white;
    background-color: black;
    transform: translateY(10px);
}

/*Experiencia*/
.experienceBox {
    padding: 1vh;
}

    .experienceBox h2 {
        padding: 1vh;
        text-align: center;
        color: white;
        background-color: var(--brandColor);
        border-radius: 2vh;
    }

.experienceWorkBox{
    margin-bottom: 1vh;
    padding: 1vh;
    background-color: lightgray;
    border: var(--brandColor) solid 2px;
    transition: ease 0.4s;
    color: black;
}

.experienceWorkBox:hover{
    background-color: black;
    color: white;
}

.experienceWorkBox:hover span{
    color: var(--brandSecondaryColor)
}

.experienceWorkBox .readMore{
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: opacity 0.5s ease, max-height 1s ease-in-out;
}

.experienceWorkBox:hover .readMore{
    max-height: 1000px;
    opacity: 1;
}

/*Noticias*/
.newBox{
    overflow: hidden;
    background: #5782C7;
    background: linear-gradient(90deg, rgba(87, 130, 199, 1) 0%, rgba(188, 83, 237, 1) 100%);
    color: white;
    border: 2px solid white;
    height: 20vh !important;
    text-align: center;
    align-items: center;
    position: relative;
    transition: 0.5s ease;
}

.newContent{
    z-index: 0;
    position: relative;
}

.newContent section:first-of-type{
    position: absolute;
    left: 0%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 100%;
    overflow: hidden;
}

    .newContent section:last-of-type img{
        height: 100%;
        width: auto;
        object-fit: cover;
    }

    .newContent section:last-of-type{
        position: absolute;
        right: 0%;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40%;
        height: 100%;
        overflow: hidden;
    }

.newBox .hiddenSection{
    position: absolute;
    display: flex;
    top: 0%;
    left: 60%;
    background-color: black;
    width: 0%;
    height: 100%;
    z-index: 2;
    transition: width 0.5s ease;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.newBox .hiddenSection img{
    position: absolute;
    height: 30%;
    width: auto;
    object-fit: cover;
}

.newBox:hover{
    border: 2px solid var(--brandColor);
}

.newBox:hover .hiddenSection{
    width: 40%;
    border-left: 3px solid var(--brandColor);
}

.newBox h2{
    margin-top: 0vh;
    margin-bottom: 0vh;
}

/*Barras*/
.barContentBox {
    padding: 1vh;
    border: 2px solid white;
    transition: 1s ease;
}

    .barContentBox:hover {
        border: 2px solid var(--brandColor);
    }

.bar {
    width: 60%;
    height: 2vh !important;
    border-radius: 100vh;
    background-color: #1a1a1a;
    overflow: hidden;
    transition: 1s ease;
}

.filledBar{
    background-color: var(--brandColor);
    height: 100%;
}

.bar10 {
    width: 10%;
}

.bar20 {
    width: 20%;
}

.bar30{
    width: 30%;
}

.bar40{
    width: 40%;
}

.bar50{
    width: 50%;
}

.bar60 {
    width: 60%;
}

.bar70 {
    width: 70%;
}

.bar80 {
    width: 80%;
}

.bar90 {
    width: 90%;
}

.bar100 {
    width: 100%;
}

/*Articulos de Blog*/

.blogArticleHeader{
    min-height: 5vh;
    overflow: hidden;
    padding-top: 5vh;
    padding-bottom: 3vh;
}

.blogDivisor{
    height: 5px;
    background-color: var(--brandColor);
}

/*CONTADOR*/

#counter{
    height: 30vh;
    position: relative;
    overflow: hidden;
    text-shadow:
    /* Contorno grueso */
    -2px -2px 0 black,
    2px -2px 0 black,
    -2px 2px 0 black,
    2px 2px 0 black,
    -2px 0 0 black,
    2px 0 0 black,
    0 -2px 0 black,
    0 2px 0 black,
    /* Sombra difusa */
    5px 5px 15px black;
    font-weight: bolder;
}

#counter_bg{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
}

#counter_above{
    position: absolute; /* ← esto faltaba */
    left: 0;
    top: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    padding-top: 1vh;
}

#counter_finish{
    position: absolute; /* ← esto faltaba */
    left: 0;
    top: 0;
    z-index: 3;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    padding-top: 1vh;
    visibility: hidden;
}

#counter_above p {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*MEDIA*/
@media (max-width: 1000px) {
    .marginBox {
        margin-left: 5vw;
        margin-right: 5vw;
    }

    .sectionBox {
        padding-top: 10vh;
        padding-bottom: 10vh;
    }

    .serviceBox {
        height: 60vh !important;
    }

    .box30h {
        height: 60vh !important;
    }

    .box50h {
        height: 80vh !important;
    }
}