@import url('brand.css');

/*BOTON RECTANGULAR*/
.rectangleButton {
    overflow: hidden;
    background-color: var(--brandColor);
    padding: 1vh;
    color: white;
    font-weight: bold;
    border: 2px solid var(--brandColor);
    transition: 1s ease;
}

    .rectangleButton:hover {
        transform: translateY(10px);
        background-color: white;
        color: var(--brandColor);
        border: 2px solid var(--brandColor);
    }