.flex70 {
    flex-basis: 70%;
}

.flex60 {
    flex-basis: 60%;
}

.flex50 {
    flex-basis: 50%;
}

.flex45 {
    flex-basis: 45%;
}

.flex40 {
    flex-basis: 40%;
}

.flex30{
    flex-basis: 30%;
}

.grow {
    flex-grow: 1;
}

.shrink {
    flex-shrink: 1;
}

.gap1w{
    row-gap: 1vw;
}

.gap5w {
    row-gap: 5vw;
}

.gap1h{
    column-gap: 1vh;
}

.wrap{
    flex-wrap: wrap;
}