.flex100{
    flex-basis: 100%;
}

.flex70 {
    flex-basis: 70%;
}

.flex60 {
    flex-basis: 60%;
}

.flex50 {
    flex-basis: 50%;
}

.flex45 {
    flex-basis: 45%;
}

.flex40 {
    flex-basis: 40%;
}

.flex30{
    flex-basis: 30%;
}

.flex15 {
    flex-basis: 15%;
}

.flex5 {
    flex-basis: 5%;
}

.grow {
    flex-grow: 1;
}

.shrink {
    flex-shrink: 1;
}

.gap1h{
    row-gap: 1vh;
}

.gap2h{
    row-gap: 2vh;
}

.gap5h {
    row-gap: 5vh;
}

.gap1w{
    column-gap: 1vw;
}

.gap5w{
    column-gap: 5vw;
}

.wrap{
    flex-wrap: wrap;
}

/*MEDIA*/
@media (max-width: 1000px) {
    
    .flex70,
    .flex60,
    .flex50,
    .flex45,
    .flex40,
    .flex30,
    .flex15,
    .flex5{
        flex-basis: 100%;
    }
}