.icon {
    transition: 0.5s ease;
}

    .icon:hover {
        transform: scale(1.2);
    }

.logo {
    width: 100%;
    height: 100%;
    background-image: url('../images/icons/logo.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    min-width: 2vh;
}

.logoInverted {
    width: 100%;
    height: 100%;
    background-image: url('../images/icons/logo.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    min-width: 2vh;
    filter: invert(1);
}

.steam {
    width: 100%;
    height: 100%;
    background-image: url('../images/icons/steam.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    min-width: 2vh;
}

.steamInverted {
    width: 100%;
    height: 100%;
    background-image: url('../images/icons/steam.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    min-width: 2vh;
    filter: invert(1);
}

.playstation {
    width: 100%;
    height: 100%;
    background-image: url('../images/icons/ps.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    min-width: 2vh;
}

.playstationInverted {
    width: 100%;
    height: 100%;
    background-image: url('../images/icons/ps.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    min-width: 2vh;
    filter: invert(1);
}

.switch {
    width: 100%;
    height: 100%;
    background-image: url('../images/icons/switch.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    min-width: 2vh;
}

.switchInverted {
    width: 100%;
    height: 100%;
    background-image: url('../images/icons/switch.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    min-width: 2vh;
    filter: invert(1);
}

.twitter {
    width: 100%;
    height: 100%;
    background-image: url('../images/icons/twitter.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    min-width: 2vh;
}

.twitterInverted {
    width: 100%;
    height: 100%;
    background-image: url('../images/icons/twitter.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    min-width: 2vh;
    filter: invert(1);
}

.instagram {
    width: 100%;
    height: 100%;
    background-image: url('../images/icons/instagram.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    min-width: 2vh;
}

.instagramInverted {
    width: 100%;
    height: 100%;
    background-image: url('../images/icons/instagram.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    min-width: 2vh;
    filter: invert(1);
}

.linkedin {
    width: 100%;
    height: 100%;
    background-image: url('../images/icons/linkedin.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    min-width: 2vh;
}

.linkedinInverted {
    width: 100%;
    height: 100%;
    background-image: url('../images/icons/linkedin.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    min-width: 2vh;
    filter: invert(1);
}

.tiktok {
    width: 100%;
    height: 100%;
    background-image: url('../images/icons/tiktok.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    min-width: 2vh;
}

.tiktokInverted {
    width: 100%;
    height: 100%;
    background-image: url('../images/icons/tiktok.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    min-width: 2vh;
    filter: invert(1);
}

.youtube {
    width: 100%;
    height: 100%;
    background-image: url('../images/icons/youtube.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    min-width: 2vh;
}

.youtubeInverted {
    width: 100%;
    height: 100%;
    background-image: url('../images/icons/youtube.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    min-width: 2vh;
    filter: invert(1);
}

.gmail {
    width: 100%;
    height: 100%;
    background-image: url('../images/icons/gmail.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    min-width: 2vh;
}

.gmailInverted {
    width: 100%;
    height: 100%;
    background-image: url('../images/icons/gmail.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    min-width: 2vh;
    filter: invert(1);
}

.unity {
    width: 100%;
    height: 100%;
    background-image: url('../images/icons/unity.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    min-width: 2vh;
}

.unityInverted {
    width: 100%;
    height: 100%;
    background-image: url('../images/icons/unity.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    min-width: 2vh;
    filter: invert(1);
}

.unreal {
    width: 100%;
    height: 100%;
    background-image: url('../images/icons/unreal.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    min-width: 2vh;
}

.unrealInverted {
    width: 100%;
    height: 100%;
    background-image: url('../images/icons/unreal.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    min-width: 2vh;
    filter: invert(1);
}