.desktopOnly{
    
}

.mobileOnly{

}

article.hidden,
section.hidden{
    opacity: 0;
    transform: translateY(30px);
    transition: opacity ease 0.5s, transform ease 1s;
}

article.reveal,
section.reveal{
    opacity: 1;
    transform: translate(0);
}

a.hidden{
    opacity: 0;
    transform: scale(0.8);
}

a.reveal{
    opacity: 1;
    transform: scale(1);
    transition: transform ease 0.5;
}

h1.hidden{
    opacity: 0;
    transform: translateY(-30px);
    transition: opacity 1s ease, transform 1s ease;
}

h1.reveal{
    opacity: 1;
    transform: translateY(0);
}

.filledBar.hidden{
    transform: translateX(-100%);
    transition: transform 2s ease;
}

.filledBar.reveal{
    transform: translateX(0%);
}

@media (max-width: 1000px) {
    .desktopOnly {
        display: none;
        width: 0;
        height: 0;
        margin: 0;
        padding: 0;
    }
}

@media (min-width: 1000px) {
    .mobileOnly {
        display: none;
        width: 0;
        height: 0;
        margin: 0;
        padding: 0;
    }
}